<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Журнал поверки</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-app="VERIFICATION_JOURNAL_CARD" ng-controller="VERIFICATION_JOURNAL_CARD_CTRL">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-7">
                <nav class="navbar navbar-expand  rounded">
                    <div class="container-fluid justify-content-start">
                        <div class="nav">
                            <a class="btn btn-sm btn-outline-primary" role="button" href="/">Главная</a>
                        </div>
                        <div class="nav">
                            <a class="nav-link" href="/journal">Журналы поверки</a>
                        </div>
                        <div class="nav">
                            <a class="nav-link text-info" href="{{reference}}">Добавить протокол</a>
                        </div>
                        <div class="nav">
                            <a class="nav-link text-info" href="{{editReference}}">Редактировать</a>
                        </div>

                    </div>
                </nav>
            </div>

            <div class="col-md-3">
                <nav class="navbar bg-body-tertiary">
                    <form class="container-fluid justify-content-end">
                        <label class="d-flex p-2" ng-model="currentUser">{{currentUser.surname}}
                            {{currentUser.name}}</label>
                        <a class="btn btn-sm btn-outline-secondary" href="/logout" role="button">Выйти</a>
                    </form>
                </nav>
            </div>
        </div>

        <p></p>
        <h4>Журнал поверки № {{journal.number}}</h4>
        <p></p>
        <div class="row justify-content-start">
            <div class="col-sm-8">
                <dl class="row text-start">
                    <dt class="col-sm-2">Описание</dt>
                    <dd ng-model="type" class="col-sm-6">{{journal.title}}</dd>
                </dl>
                <dl class="row text-start">
                    <dt class="col-sm-2">Примечание</dt>
                    <dd ng-model="type" class="col-sm-6">{{journal.description}}</dd>
                </dl>
            </div>
        </div>
        <h5> Протоколы поверки:</h5>
        <div class="row">
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid justify-content-start">
                    <div class="nav">
                        <div class="btn-group">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Сортировать
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"
                                        href="{{viewReference}}&page=0&dir=ASC&size={{pageSize}}&journal={{journal_id}}&search={{searchString}}">По возрастанию номеров</a>
                                </li>
                                <li><a class="dropdown-item"
                                        href="{{viewReference}}&page=0&dir=DESC&size={{pageSize}}&journal={{journal_id}}&search={{searchString}}">По убыванию номеров</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav">
                        <div class="btn-group">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Выводить по
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"
                                        href="{{viewReference}}&page=0&dir={{sortDirection}}&size=10&journal={{journal_id}}&search={{searchString}}">10</a>
                                </li>
                                <li><a class="dropdown-item"
                                        href="{{viewReference}}&page=0&dir={{sortDirection}}&size=20&journal={{journal_id}}&search={{searchString}}">20</a>
                                </li>
                                <li><a class="dropdown-item"
                                        href="{{viewReference}}&page=0&dir={{sortDirection}}&size=50&journal={{journal_id}}&search={{searchString}}">50</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <form class="d-flex" role="search">
                        <input ng-model="searchString" style="display: inline-block; max-width: 300px;"
                            class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                        <button class="btn btn-outline-info" ng-click="getSearchContentlist()"
                            type="submit">Поиск</button>
                    </form>
                 </div>
            </nav>
        </div>
        <div class="row">
            <table class="table table-primary table-striped table-hover">
                <tr>
                    <th>Номер</th>
                    <th></th>
                    <th>Дата поверки</th>
                    <th>Средство измерений</th>
                    <th>Примечание</th>
                    <th>Формат файла</th>
                    <th>Файл подписан</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr ng-repeat="item in contentlist">
                    <td><a href="{{contentUrl}}/{{item.id}}">{{item.number}}</a></td>
                    <td>от</td>
                    <td>{{item.verificationDate | date: "dd.MM.yyyy"}}</td>
                    <td>{{item.miModification}} зав. №{{item.miSerialNum}}</a></td>
                    <td>{{item.description}}</td>
                    <td>{{item.extension}}</td>
                    <td><input type="checkbox" ng-model="item.signed" disabled></td>
                    <td><button class="btn btn-primary" ng-disabled="item.signed || currentUser.surname != item.verificationEmployee.surname" ng-click="setDigitalSignature(item.id)" type="button">Подписать</button></td>
                    <td><button class="btn btn-primary" sec:authorize="hasRole('VERIFICATION_EMPLOYEE')" data-bs-toggle="modal" data-bs-target="#modal"
                            ng-click="getDeleteableId(item.id)" type="button">Удалить</button></td>
                </tr>
            </table>
        </div>
        <div class="row">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link"
                            href="{{viewReference}}&page={{previousPage}}&dir={{sortDirection}}&size={{pageSize}}&journal={{journal_id}}&search={{searchString}}">Предыдущая</a>
                    </li>
                    <li ng-repeat="item in pageArray track by $index" class="page-item"><a class="page-link"
                            href="{{viewReference}}&page={{item}}&dir={{sortDirection}}&size={{pageSize}}&journal={{journal_id}}&search={{searchString}}">{{item+1}}</a>
                    </li>
                    <li class="page-item"><a class="page-link"
                            href="{{viewReference}}&page={{nextPage}}&dir={{sortDirection}}&size={{pageSize}}&journal={{journal_id}}&search={{searchString}}">Следующая</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="toast-container position-fixed bottom-0 end-0 p-3" sec:authorize="hasRole('VERIFICATION_EMPLOYEE')">
            <div id="pleaseWaitMessage" class="toast text-bg-primary" role="alert" aria-live="assertive"
                 aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto text-primary">Протокол подписывется, ожидайте...</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
                </div>
                <div class="toast-body" ng-model="waitCount">
                    Выполняется добавление подписи на листы протокола поверки, защита протокола от изменений
                </div>
            </div>
        </div>

    </div>
    <!-- Модальное окно -->
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="Подтверждение удаления" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Вы уверены, что хотите удалить протокол поверки?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" ng-click="delete()">Удалить</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/angular.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        var app = angular.module("VERIFICATION_JOURNAL_CARD", []);
        var idAttr = new URL(document.URL).searchParams.get("id");
        app.controller("VERIFICATION_JOURNAL_CARD_CTRL", function ($scope, $http) {
            $scope.viewReference = "/journal/" + idAttr + "?id=" + idAttr;
            $scope.editReference = "/journal/edit/" + idAttr + "?id=" + idAttr;
            $scope.reference = "/journal/add/" + idAttr + "?id=" + idAttr;
            $scope.contentUrl = "/journals/protocols";
            $scope.journal_id = idAttr;

            function getJournal() {
                $http({
                    url: "/journals/" + idAttr,
                    method: "GET"
                }).then(function (response) {
                    $scope.journal = response.data;
                    getPagesContentlist();
                });

            }

            getJournal();

            function getPagesContentlist() {
                $scope.getPageAttributes();
                $http({
                    url: $scope.contentUrl + "/pages?page=" + $scope.pageNum + "&dir=" + $scope.sortDirection + "&size=" + $scope.pageSize + "&journal=" + idAttr + "&search=" + $scope.searchString,
                    method: "GET"
                }).then(function (response) {
                    $scope.contentlist = response.data.content;
                    console.log($scope.contentlist);
                    $scope.createPaginationParams(response.data.totalPages);
                });
            }

            $scope.getSearchContentlist = function () {
                $http({
                    url: $scope.contentUrl + "/pages?page=" + $scope.pageNum + "&dir=" + $scope.sortDirection + "&size=" + $scope.pageSize + "&journal=" + idAttr + "&search=" + $scope.searchString,
                    method: "GET"
                }).then(function (response) {
                    $scope.contentlist = response.data.content;
                    console.log($scope.contentlist);
                    $scope.createPaginationParams(response.data.totalPages);
                });
            }


            $scope.getPageAttributes = function () {
                var documentUrl = new URL(document.URL);
                $scope.pageNum = documentUrl.searchParams.get("page");
                $scope.sortDirection = documentUrl.searchParams.get("dir");
                $scope.pageSize = documentUrl.searchParams.get("size");
                $scope.searchString = documentUrl.searchParams.get("search");

                if ($scope.pageSize == null || $scope.pageSize == undefined) {
                    $scope.pageSize = "10";
                }
                if ($scope.sortDirection == null || $scope.sortDirection == undefined) {
                    $scope.sortDirection = "ASC";
                }
                if ($scope.pageNum == null || $scope.pageNum == undefined) {
                    $scope.pageNum = "0";
                }
                if ($scope.searchString == null || $scope.searchString == undefined) {
                    $scope.searchString = "";
                }
            }

            $scope.createPaginationParams = function (totalPages) {
                $scope.pageArray = [];
                $scope.previousPage = 0;
                $scope.nextPage = Number($scope.pageNum) + 1;

                if ($scope.pageNum > 0) {
                    $scope.previousPage = $scope.pageNum - 1;
                }
                if ($scope.pageNum >= totalPages - 1) {
                    $scope.nextPage = totalPages - 1;
                }
                $scope.pageArray = [];
                for (let i = 0; i < totalPages; i++) {
                    $scope.pageArray.push(i);
                }
            }

        function showMessage(id) {
        const message = document.getElementById(id);
        const messageBootstrap = bootstrap.Toast.getOrCreateInstance(message);
        messageBootstrap.show();
      }

      function hideMessage(id) {
        const message = document.getElementById(id);
        const messageBootstrap = bootstrap.Toast.getOrCreateInstance(message);
        messageBootstrap.hide();
      }

        $scope.setDigitalSignature = function(id){
            showMessage("pleaseWaitMessage");
            $http({
                    url: "/journals/protocols/signing/"+id,
                    method: "GET"
                }).then(function successCallback(response) {
                        hideMessage("pleaseWaitMessage");
                        alert(response.data.message);
                        window.location.reload();
                    }, function errorCallback(response) {
                        hideMessage("pleaseWaitMessage");
                        alert(response.data.message);
                    });
        }

            $scope.deleteableId = -1;
            $scope.getDeleteableId = function (id) {
                $scope.deleteableId = id;
                
            }
            
            $scope.delete = function () {
                var myModalEl = document.getElementById('modal')
                var modal = bootstrap.Modal.getInstance(myModalEl);
                modal.hide();
                console.log($scope.deleteableId);
                $http({
                    url: "/journals/protocols/" + $scope.deleteableId,
                    method: "DELETE"
                }).then(function successCallback(response) {
                            alert(response.data.message);
                            window.location.reload();
                        }, function errorCallback(response) {
                            alert(response.data.message)
                        });
            }



            function getCurrentUser() {
                $http({
                    url: "/users/username",
                    method: "GET"
                }).then(function (response) {
                    $scope.currentUser = response.data;
                });
            }
            getCurrentUser();

        });


    </script>
</body>

</html>