<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Сведения о пользователе</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-app="USER_CARD" ng-controller="USER_CARD_CTRL">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-7">
                <nav class="navbar navbar-expand  rounded">
                    <div class="container-fluid justify-content-start">
                        <div class="nav">
                            <a class="btn btn-sm btn-outline-primary" role="button" href="/">Главная</a>
                        </div>
                        <div class="nav">
                            <a class="nav-link" href="/settings">Администрирование</a>
                        </div>
                        <div class="nav">
                            <a class="nav-link" href="/user">Список пользователей</a>
                        </div>
                        <div class="nav">
                            <a class="nav-link text-info" href="{{reference}}">Данные пользователя</a>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="col-md-3">
                <nav class="navbar bg-body-tertiary">
                    <form class="container-fluid justify-content-end">
                        <label class="d-flex p-2" ng-model="currentUser">{{currentUser.surname}}
                            {{currentUser.name}}</label>
                        <a class="btn btn-sm btn-outline-secondary" href="/logout" role="button">Выйти</a>
                    </form>
                </nav>
            </div>
        </div>

        <p></p>
        <h4>Данные пользователя</h4>
        <p></p>
        <div class="row justify-content-start">
            <div class="col-md-4">
                <span class="input-group-text">Логин</span>
                <input type="text" ng-model="user.username" class="form-control" value="" required>
                <p></p>
                <span class="input-group-text">Пароль</span>
                <input type="password" ng-model="newPassword" class="form-control" value="" required>
                <p></p>
                <span class="input-group-text">Подтверждение пароля</span>
                <input type="password" ng-model="newPasswordConfirm" class="form-control" value="" required>
                <p></p>
                <button class="btn btn-outline-primary" ng-click="changePass()" type="button">Изменить пароль</button>
                <p></p>
                <p></p>
                <div class="form-check form-switch">
                    <input class="form-check-input fs-5" type="checkbox" ng-model="user.enabled" role="switch" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label fs-5" for="flexCheckDefault">Учетная запись активна</label>
                </div>
            </div>
            <div class="col-md-4">
                <span class="input-group-text">Фамилия</span>
                <input type="text" ng-model="user.surname" class="form-control" value="" required>
                <p></p>
                <span class="input-group-text">Имя</span>
                <input type="text" ng-model="user.name" class="form-control" value="" required>
                <p></p>
                <span class="input-group-text">Отчество</span>
                <input type="text" ng-model="user.patronymic" class="form-control" value="" required>
                <p></p>
                <span class="input-group-text">Рабочий номер телефона</span>
                <input type="text" ng-model="user.phoneNumber" class="form-control" value="" required>
            </div>
            <div class="col-md-4">
                <div class="table-responsive" style="max-height: 270px; height: 270px;">
                    <table class="table table-primary table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Уровни доступа пользователя</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in user.roles" value="{{item}}">
                                <td>{{item.pseudonym}}</td>
                                <td><button class="btn btn-outline-primary" ng-click="deleteUserRole(item.pseudonym)"
                                        type="button">Удалить</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p></p>
                <label class="form-label" for="inputAccess">Выберите уровень доступа</label>
                <select class="form-control" id="inputAcess" ng-model="role"
                    ng-options="role as role.pseudonym for role in roles track by role.pseudonym" required>
                </select>
                <p></p>
                <button class="btn btn-outline-primary" ng-click="addRole()" type="button">Добавить уровень
                    доступа</button>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-2">
                    <p></p>
                    <button class="btn btn-primary" ng-click="submit()" type="button">Cохранить</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно -->
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="Подтверждение сохранения без активации" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h6 class="modal-title" id="exampleModalLabel">Учетная запись пользователя не активирована.
                         Вы уверены, что хотите сохранить запись о пользователе без её активации?
                          Пользователь не сможет получить доступ к системе.
                    </h6>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary"
                        ng-click="saveUser()">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/angular.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        var app = angular.module("USER_CARD", []);
        var idAttr = new URL(document.URL).searchParams.get("id");
        app.controller("USER_CARD_CTRL", function ($scope, $http) {
            $scope.reference = "/user/" + idAttr + "?id=" + idAttr

            $scope.getUser = function () {
                $http({
                    url: "/users/" + idAttr,
                    method: "GET"
                }).then(function (response) {
                    $scope.user = response.data;
                });

            }

            $scope.getUser();

            $scope.roles = [];
            function getRoles() {
                $http({
                    url: "/roles",
                    method: "GET"
                }).then(function (response) {
                    $scope.roles = response.data;
                });
            }
            getRoles();

            $scope.changePass = function () {
                if ($scope.newPassword === $scope.newPasswordConfirm) {
                    $scope.user.password = $scope.newPassword;
                    alert('Пароль будет изменен после сохранения пользователя')
                } else {
                    alert('Введенные пароли не совпадают')
                }

            }

            $scope.addRole = function () {
                let pseudonyms = $scope.user.roles.map(role => role.pseudonym);
                if (!pseudonyms.includes($scope.role.pseudonym)) {
                    $scope.user.roles.push($scope.role);
                } else {
                    alert("Пользователь уже имеет данный уровень доступа");
                }
            }

            $scope.deleteUserRole = function (pseudonym) {
                let pseudonyms = $scope.user.roles.map(role => role.pseudonym);
                let index = pseudonyms.findIndex((i) => i === pseudonym);
                $scope.user.roles.splice(index, 1);
            }


            $scope.submit = function(){
                var myModalEl = document.getElementById('modal');
                var modal = new bootstrap.Modal(myModalEl);
                if ($scope.user.enabled == false){
                    console.log('Не активно');
       
                    modal.show();
                } else {
                    $scope.saveUser();
                }
               modal.hide();
            }

            // сохранение в БД;
            $scope.saveUser = function () {
                if ($scope.user.roles.length > 0) {
                    $scope.user.checked = true;
                    $http({
                        url: "/users/" + idAttr,
                        method: "PUT",
                        data: $scope.user
                    }).then(function successCallback(response) {
                        alert(response.data.message);
                        window.location.href = "/user";
                    }, function errorCallback(response) {
                        alert(response.data.message)
                    });
                } else {
                    alert("Неоходимо предоставить пользователю хотя бы одно право доступа");
                }
            }


            function getCurrentUser() {
                $http({
                    url: "/users/username",
                    method: "GET"
                }).then(function (response) {
                    $scope.currentUser = response.data;
                });
            }
            getCurrentUser();

        });


    </script>
</body>

</html>