<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Список пользователей</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-app="USERS_LIST" ng-controller="USERS_LIST_CTRL">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-9">
                <nav class="navbar navbar-expand  rounded">
                    <div class="container-fluid justify-content-start">
                        <div class="nav">
                            <a class="btn btn-sm btn-outline-primary" role="button" href="/">Главная</a>
                        </div>
                        <div class="nav">
                            <a class="nav-link" href="/settings">Администрирование</a>
                        </div>
                        <div class="nav">
                            <a class="nav-link text-info" href='/user/form'>Добавить пользователя</a>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="col-md-3">
                <nav class="navbar bg-body-tertiary">
                    <form class="container-fluid justify-content-end">
                        <label class="d-flex p-2" ng-model="currentUser">{{currentUser.surname}}
                            {{currentUser.name}}</label>
                        <a class="btn btn-sm btn-outline-secondary" href="/logout" role="button">Выйти</a>
                    </form>
                </nav>
            </div>
        </div>


        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid justify-content-start">
                <div class="nav">
                    <div class="btn-group">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Сортировать
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                    href="{{viewReference}}?page=0&dir=ASC&size={{pageSize}}&search={{searchString}}">А-Я</a>
                            </li>
                            <li><a class="dropdown-item"
                                    href="{{viewReference}}?page=0&dir=DESC&size={{pageSize}}&search={{searchString}}">Я-А</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="nav">
                    <div class="btn-group">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Выводить по
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                    href="{{viewReference}}?page=0&dir={{sortDirection}}&size=10&search={{searchString}}">10</a>
                            </li>
                            <li><a class="dropdown-item"
                                    href="{{viewReference}}?page=0&dir={{sortDirection}}&size=20&search={{searchString}}">20</a>
                            </li>
                            <li><a class="dropdown-item"
                                    href="{{viewReference}}?page=0&dir={{sortDirection}}&size=50&search={{searchString}}">50</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <form class="d-flex" role="search">
                    <input ng-model="searchString" style="display: inline-block; max-width: 300px;"
                        class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                    <button class="btn btn-outline-info" ng-click="getSearchContentlist(contentUrl)"
                        type="submit">Поиск</button>
                </form>

            </div>
        </nav>
        <div class="row">
            <table class="table table-primary table-striped table-hover">
                <tr>
                    <th>Логин</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Номер телефона</th>
                    <th>Уч. запись активна</th>
                    <th>Уч. запись проверена</th>
                    <th></th>
                </tr>
                <tr ng-repeat="user in contentlist">
                    <td><a href="{{viewReference}}/{{user.id}}?id={{user.id}}">{{user.username}}</a></td>
                    <td>{{user.surname}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.patronymic}}</td>
                    <td>{{user.phoneNumber}}</td>
                    <td><input type="checkbox" ng-model="user.enabled"></td>
                    <td><input type="checkbox" ng-model="user.checked"></td>
                    <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal"
                            ng-click="getDeleteableId(user.id)" type="button">Удалить</button></td>
                </tr>
            </table>
        </div>
        <div class="row">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link"
                            href="{{viewReference}}?page={{previousPage}}&dir={{sortDirection}}&size={{pageSize}}&search={{searchString}}">Предыдущая</a>
                    </li>
                    <li ng-repeat="item in pageArray track by $index" class="page-item"><a class="page-link"
                            href="{{viewReference}}?page={{item}}&dir={{sortDirection}}&size={{pageSize}}&search={{searchString}}">{{item+1}}</a>
                    </li>
                    <li class="page-item"><a class="page-link"
                            href="{{viewReference}}?page={{nextPage}}&dir={{sortDirection}}&size={{pageSize}}&search={{searchString}}">Следующая</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- Модальное окно -->
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="Подтверждение удаления" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Вы уверены, что хотите удалить запись о пользователе?
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary"
                        ng-click="deleteEmployee(deleteableId)">Удалить</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/angular.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        var app = angular.module("USERS_LIST", []);
        app.controller("USERS_LIST_CTRL", function ($scope, $http) {
            $scope.contentUrl = "/users";
            $scope.viewReference = "/user"

            $scope.getPagesContentlist = function (contentUrl) {
                $scope.getPageAttributes();
                $http({
                    url: contentUrl + "/pages?page=" + $scope.pageNum + "&dir=" + $scope.sortDirection + "&size=" + $scope.pageSize + "&search=" + $scope.searchString,
                    method: "GET"
                }).then(function (response) {
                    $scope.contentlist = response.data.content;
                    $scope.createPaginationParams(response.data.totalPages);
                });
            }

            $scope.getCurrentUser = function () {
                $http({
                    url: "/users/username",
                    method: "GET"
                }).then(function (response) {
                    $scope.currentUser = response.data;
                });
            }


            $scope.getPageAttributes = function () {
                var documentUrl = new URL(document.URL);
                $scope.pageNum = documentUrl.searchParams.get("page");
                $scope.sortDirection = documentUrl.searchParams.get("dir");
                $scope.pageSize = documentUrl.searchParams.get("size");
                $scope.searchString = documentUrl.searchParams.get("search");

                if ($scope.pageSize == null || $scope.pageSize == undefined) {
                    $scope.pageSize = "10";
                }
                if ($scope.sortDirection == null || $scope.sortDirection == undefined) {
                    $scope.sortDirection = "ASC";
                }
                if ($scope.pageNum == null || $scope.pageNum == undefined) {
                    $scope.pageNum = "0";
                }
                if ($scope.searchString == null || $scope.searchString == undefined) {
                    $scope.searchString = "";
                }
            }

            $scope.createPaginationParams = function (totalPages) {
                $scope.pageArray = [];
                $scope.previousPage = 0;
                $scope.nextPage = Number($scope.pageNum) + 1;

                if ($scope.pageNum > 0) {
                    $scope.previousPage = $scope.pageNum - 1;
                }
                if ($scope.pageNum >= totalPages - 1) {
                    $scope.nextPage = totalPages - 1;
                }
                $scope.pageArray = [];
                for (let i = 0; i < totalPages; i++) {
                    $scope.pageArray.push(i);
                }
            }


            $scope.getSearchContentlist = function (contentUrl) {
                $http({
                    url: contentUrl + "/pages?page=" + $scope.pageNum + "&dir=" + $scope.sortDirection + "&size=" + $scope.pageSize + "&search=" + $scope.searchString,
                    method: "GET"
                }).then(function (response) {
                    $scope.contentlist = response.data.content;
                    $scope.createPaginationParams(response.data.totalPages);
                });
            }


            $scope.getDeleteableId = function (id) {
                $scope.deleteableId = id;
            }

            $scope.deleteEmployee = function (delId) {
                var myModalEl = document.getElementById('modal')
                var modal = bootstrap.Modal.getInstance(myModalEl);
                modal.hide();
                $http({
                    url: $scope.contentUrl + "/" + delId,
                    method: "DELETE"
                }).then(function (response) {
                    alert(response.data.message);
                    $scope.getPagesContentlist($scope.contentUrl);
                });
            }

            $scope.getCurrentUser();
            $scope.getPagesContentlist($scope.contentUrl);

        });
    </script>
</body>

</html>