<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Доступ ограничен</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-app="ACCESS_DENIED_FORM" ng-controller="ACCESS_DENIED_FORM_CTRL">
    <div class="container text-center align-middle">

        <div class="row justify-content-center align-items-center">
            <p></p>
            <div class="col-md-6">
                <div class="p-4">
                  
                    <h1>У Вас недостаточно прав для доступа в данный раздел</h1>
                    <p></p>
                    <button class="btn btn-primary me-2" type="button" onclick="location.href='/'"><b>Вернуться на
                            главную
                            страницу</b></button>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/angular.min.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    </script>
</body>

</html>